<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Connectie" value="server=192.168.68.103;uid=Thijs;pwd='TOGG';database=barksdb"/>
	</appSettings>
</configuration>