<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Connectie" value="server=192.168.50.169;uid=lentt;pwd='lentt';database=netflix2.0lent"/>
		<add key ="LocalConn" value="server=localhost;uid=root;pwd='';database=netflix2.0lent"/>
	</appSettings>
</configuration>